.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;
}
.pianoWrap {
  min-height: 100vh;
  align-items: center;
  display: flex;
  overflow-x: auto;
}
.pianoWrap button {
  width: 30px;
  height: 120px;
}
.pianoWrap button.sharp {
  position: absolute;
}
.code {
  text-align: center;
  border: 1px solid red;
  margin: 5px;
}
.on {
  background-color: red;
  color: #fff
}
